<body>
    <form action="/buy" method="post">
        <table>
            <tr>
                <td>선택</td>
                <td>상품명</td>
                <td>수량</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="짜장면"></td>
                <td>짜장면</td>
                <td><input type="text" name="짜장면수량" size="2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="탕수육"></td>
                <td>탕수육</td>
                <td><input type="text" name="탕수육수량" size="2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="볶음밥"></td>
                <td>볶음밥</td>
                <td><input type="text" name="볶음밥수량" size="2"></td>
            </tr>
        </table>
        <input type="submit" value="구매">
    </form>
</body>